/* This is the custom CSS for whatsupkorea.info  */
img.fullwidth {
	width: 100%;
}
img.titlelogo {
	float: left;
}
/* stacked to start */
.ui-block-a,
.ui-block-b {
    width: 100%;
    float: none;
}
/* two columns at custom breakpoint */
@media all and (min-width: 62em) {
	.ui-block-b {
		float: right;
		width: 49.95%;
	}
	.ui-block-a {
		width: 49.95%;
	}
}