/* This is the custom CSS for whatsupkorea.info  */
img.fullwidth {
	width: 100%;
}
img.titlelogo {
	float: left;
}
/* stacked to start */
.ui-content .ui-block-a,
.ui-content .ui-block-b,
.ui-content .ui-block-c {
	width: 100%;
	float: none;
}
/* three columns at custom breakpoint */
@media all and (min-width: 62em) {
	.ui-content .ui-block-a, .ui-content .ui-block-b, .ui-content .ui-block-c {
		width: 32%;
		margin-right: 1%;
		float: left;
	}
}